*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 1000px;
    height: 400px;
    margin-bottom: 50px;
}
.banner{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.023),
    rgba(0, 0, 0, 0.786)),url(images/donation10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
   

.inpu{
   width: 100%;
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 25px;
   
}
p{
    width:500px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 10px;

}
.btn{
  background:linear-gradient(rgb(215, 83, 60),rgb(234, 37, 37));
  border: none;
  padding: 10px 30px;
  border-radius: 5%;
  border: 1px solid white;
 
}
.btn a{
    text-decoration: none;
    color: white;
    

}
.btn:hover{
    background: linear-gradient(rgb(37, 135, 37),rgb(81, 164, 29));
}
.title{
    text-align: center;
    margin-bottom: 50px;
   
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.mony{
    display:flex;
    width: 500px;
    text-align: center;
    background-color: beige;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
}
.mony1{
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.mony1:hover{
    border: 2px solid green;
}
#mony2{
    padding: 10px;
   margin-left: 5px;
   margin-right: 5px;
   color: tomato;
   border: 2px solid tomato;
   cursor: pointer;
   transition: 0.3s;
}
#mony2:hover{
    border: 2px solid green;
}
.to-peay{
    margin: auto;
    width: 500px;
    text-align: center;
    color: gray;
   
}
.donetpeay{
    border-top: 1px solid gray;
}
button{
    margin-top: 20px;
}
#pernts{
   display: flex;
   width: 200px;
   margin-left: 110px;
   margin-bottom: 100px;
}
.font{
    width: 200px;
    font-size: 13px;  
}
.family{
    padding: 20px;
    margin: 5px;
    background-color: bisque;

}
.shelter{
    padding: 20px;
    margin: 5px;
    background-color: cornsilk;
    
}
.educ{
    padding: 20px;
    margin: 5px;
    background-color: aquamarine;
    
}
.icon{
    margin-bottom: 20px;
}
#lives{
    margin-bottom: 100px;
}
.half-width{
    display: flex;
   
}

.donation{
 width: 100%;
 padding: 20px;
 margin-left: 6px;
 
}
.heading{
    width: 287px;
    font-size: 26px;
    margin-left: 91px;
    line-height: 36px;
    margin-bottom: 20px;
}
img#pic {
    width: 90%;
    margin-right: 30px;
}
.preg{
    width: 293px;
    text-align: justify;
    line-height: 25px;
}
.btne{
  margin-left: 98px;
  border: none;
  background:linear-gradient(rgb(215, 83, 60),rgb(234, 37, 37));
  padding: 10px 20px;
}
.btne a{
 text-decoration: none;
 font-size: 16px;
 color: white;
}
.btne:hover{
    background: linear-gradient(rgb(37, 135, 37),rgb(81, 164, 29));
}
img#phto {
    width: 87%;
    margin-left: 69px;
}
.heading2{
    width: 183px;
    margin-left: 59px;
    margin-bottom: 20px;
}
.input{
   width: 414px;
   background: wheat;
   margin: auto;
   margin-top: 100px;
   text-align: center;
   padding: 28px;
}
input[type="email"] {
    border: none;
    outline: none;
    padding: 10px;
    text-transform: capitalize;
    position: absolute;
    transform: translateX(-92px);
}

button#btn {
    position: relative;
    border: none;
    background-color: tomato;
    padding: 10px  20px;
    transform: translateY(-20px);
    top: 0;
    left: 98px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 1px;
}
#humble{
    background-color: black;
    margin: auto;
}
.finpu {
    color: crimson;
    text-align: center;
    padding: 50px;
    font-style: italic;
}
#smalll{
    color: white;
    font-style: normal;
}